In [2]:
%pip install pandas
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\estifo\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\estifo\appdata\roaming\python\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\estifo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\estifo\Downloads\SPY1Day15Vol.csv")

C:\Users\estifo\AppData\Local\Temp\ipykernel_29692\2702376182.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\estifo\Downloads\SPY1Day15Vol.csv")

In [5]:
df

                   time     ms           time.1   ms.1        bid          ask
0       2/19/25 8:00 AM  0.000  2/19/25 8:00 AM  0.000  609.603988  609.637854
1       2/19/25 8:00 AM  0.333  2/19/25 8:00 AM  0.333  609.609069  609.642935
2       2/19/25 8:00 AM  0.667  2/19/25 8:00 AM  0.667  609.609857  609.643724
3       2/19/25 8:00 AM  0.000  2/19/25 8:00 AM  0.000  609.611744  609.645610
4       2/19/25 8:00 AM  0.333  2/19/25 8:00 AM  0.333  609.606529  609.640396
...                 ...    ...              ...    ...         ...         ...
864028              NaN    NaN              NaN    NaN         NaN         NaN
864029              NaN    NaN              NaN    NaN         NaN         NaN
864030              NaN    NaN              NaN    NaN         NaN         NaN
864031              NaN    NaN              NaN    NaN         NaN         NaN
864032              NaN    NaN              NaN    NaN         NaN         NaN

[864033 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864033 entries, 0 to 864032
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    140402 non-null  object
 1   ms      140402 non-null  float64
 2   time.1  140402 non-null  object
 3   ms.1    140402 non-null  float64
 4   bid     140402 non-null  float64
 5   ask     140402 non-null  float64
dtypes: float64(4), object(2)
memory usage: 39.6+ MB

In [7]:
df['mid'] = (df['bid '] + df['ask'])/2

In [8]:
df.iloc[:200]

,time,ms,time.1,ms.1,bid,ask,mid
0,2/19/25 8:00 AM,0.000,2/19/25 8:00 AM,0.000,609.603988,609.637854,609.620921
1,2/19/25 8:00 AM,0.333,2/19/25 8:00 AM,0.333,609.609069,609.642935,609.626002
2,2/19/25 8:00 AM,0.667,2/19/25 8:00 AM,0.667,609.609857,609.643724,609.626790
3,2/19/25 8:00 AM,0.000,2/19/25 8:00 AM,0.000,609.611744,609.645610,609.628677
4,2/19/25 8:00 AM,0.333,2/19/25 8:00 AM,0.333,609.606529,609.640396,609.623462
...,...,...,...,...,...,...,...
195,2/19/25 8:01 AM,0.000,2/19/25 8:01 AM,0.000,609.450334,609.484200,609.467267
196,2/19/25 8:01 AM,0.333,2/19/25 8:01 AM,0.333,609.459163,609.493029,609.476096
197,2/19/25 8:01 AM,0.667,2/19/25 8:01 AM,0.667,609.463361,609.497227,609.480294
198,2/19/25 8:01 AM,0.000,2/19/25 8:01 AM,0.000,609.468892,609.502758,609.485825
199,2/19/25 8:01 AM,0.333,2/19/25 8:01 AM,0.333,609.494492,609.528358,609.511425

In [9]:
import pandas as pd

# 1. Make sure your time column is datetime and floor it to the minute
df['time'] = pd.to_datetime(df['time'])
df['minute'] = df['time'].dt.floor('T')

# 2. Assign group_id by “which minute‐bin” each row belongs to
df['group_id'] = df.groupby('minute').ngroup()

# 3. Now compute the OHLC on mid for each group_id
mid_ohlc = (
    df
    .groupby('group_id')
    .agg(
        minute = ('minute', 'first'),
        open   = ('mid',    'first'),
        high   = ('mid',    'max'),
        low    = ('mid',    'min'),
        close  = ('mid',    'last')
    )
    .reset_index()
)

# mid_ohlc now has:
#   group_id | minute           | open      | high      | low       | close
#   -------------------------------------------------------------------------
#     0      | 2025-02-19 08:00 | 609.6209  | 609.6287  | 609.6209  | …
#     1      | 2025-02-19 08:01 | 609.4673  | 609.5114  | 609.4503  | …
#     2      | 2025-02-19 08:02 | …         | …         | …         | …

C:\Users\estifo\AppData\Local\Temp\ipykernel_29692\3535256857.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\estifo\AppData\Local\Temp\ipykernel_29692\3535256857.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df['minute'] = df['time'].dt.floor('T')

In [ ]:
mid_ohlc

,group_id,minute,open,high,low,close
0,0.0,2025-02-19 08:00:00,609.620921,609.718208,609.435313,609.469308
1,1.0,2025-02-19 08:01:00,609.458008,609.531182,609.437541,609.474540
2,2.0,2025-02-19 08:02:00,609.472416,609.530265,609.427305,609.446263
3,3.0,2025-02-19 08:03:00,609.439725,609.490422,609.400389,609.425303
4,4.0,2025-02-19 08:04:00,609.419199,609.421599,609.263119,609.277285
...,...,...,...,...,...,...
776,776.0,2025-02-19 20:56:00,610.653237,610.653237,610.366333,610.403551
777,777.0,2025-02-19 20:57:00,610.403186,610.421814,610.076369,610.155527
778,778.0,2025-02-19 20:58:00,610.156854,610.246400,610.081910,610.179745
779,779.0,2025-02-19 20:59:00,610.174585,610.208648,610.006565,610.129943
780,780.0,2025-02-19 21:00:00,610.140808,610.146115,610.140808,610.146115

: